@keyframes rotate-1 {
    to {
        /* opacity: 1; */
        transform: rotate(90deg);
        /* transform: scale(1); */
    }
}

@keyframes scale-1 {
    to {
        /* opacity: 1; */
        /* transform: rotate(0); */
        transform: scale(1.1);
    }
}

/* @keyframes deform {
    from {
        d: path('');
    }
} */

.circular-chart svg .pie {
    transform-origin: 50% 50%;
    transition: all 0.2s ease;
    /* animation: show 1s  ; */
    /* transform: rotate(0); */
    /* animation: rotate-1 1s reverse; */
    /* animation-iteration-count: 1; */
    animation-delay: var(--duration);
}

.circular-chart svg .pie:hover {
    transform: scale(1.05);
    /* animation: scale-1 0.2s forwards; */
}

.circular-chart svg .tips {
    display: none;
    animation: show 0.4s forwards;
}

.circular-chart svg .line {
    opacity: 0;
    animation: show 1s forwards;
    animation-delay: 0.4s;
}