@keyframes grow {
    to {
        height: 0;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.histogram .bar {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: grow 0.5s forwards reverse
}

.histogram .bar-tips {
    /* display: block; */
    opacity: 0;
    
}


.histogram .bar:hover+.bar-tips {
    /* display: none; */
    animation: show 0.5s forwards
}