.pic {
  background-repeat: no-repeat;
  background-size:cover;
}

#bg-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.app {
  @apply 
    dark:bg-slate-800
    /* bg-[rgba(116,120,128,0.6)] */
    /* dark:bg-[rgba(30,41,59,0.6)] */
      dark:text-gray-100
      transition-all
    ;
}

input[disabled] {
  @apply cursor-not-allowed
}

input, textarea {
  @apply 
      border-none rounded-sm py-1 px-2
      bg-slate-200 dark:bg-slate-600 dark:text-gray-100
      focus:outline-none focus:bg-green-400 dark:focus:bg-green-800
}
textarea {
  min-width: 237px;
}

.icon {
  fill: var(--svg-fill);
}
.icon-hover {
  @apply hover:fill-green-400 dark:hover:fill-green-500 hover:cursor-pointer;
}

canvas {
  @apply bg-white dark:bg-slate-200 !important;
}

.tomato-weaken {
  transform: scale(0.5) translateY(-85%);
}

.glass {
  backdrop-filter: blur(20px);
}

.data-page-btn {
  @apply cursor-pointer border border-solid rounded-xl mx-1 inline w-5 h-5
    hover:text-gray-400 active:bg-gray-500
    dark:hover:text-slate-400 dark:active:bg-slate-500
}