.countdown {
    --countdown-r: 120px;
    --countdown-d: calc(var(--countdown-r) * 2);
    --countdown-w: 15px;
    --countdown-offset: calc(var(--countdown-w) / 2);
    --PI: 3.14159265358979;
    --countdown-p: calc(2 * var(--PI) * var(--countdown-r));
    --mc: rgb(108, 129, 174);

    @apply select-none m-auto relative rounded-[50%] w-[var(--countdown-d)] h-[var(--countdown-d)]
    hover:bg-gray-50 hover:shadow-sm hover:dark:bg-slate-900
}

.countdown svg {
    transform: rotate(270deg);
    @apply dark:bg-transparent  w-[var(--countdown-d)] h-[var(--countdown-d)]
}

.countdown svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: var(--countdown-w);
    stroke: #e7e6e6;
    stroke-linecap: round;
    transform: translate(var(--countdown-offset), var(--countdown-offset));
    cx: calc(var(--countdown-r) - calc(var(--countdown-w) / 2));
    cy: calc(var(--countdown-r) - calc(var(--countdown-w) / 2));
    r: calc(var(--countdown-r) - calc(var(--countdown-w) / 2));

    @apply dark:stroke-gray-400
}

.countdown svg circle:last-child {
    stroke: var(--mc);
    stroke-dasharray: var(--countdown-p);
    stroke-dashoffset: 0%;
    @apply dark:stroke-teal-500
}

.dot {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.dot::before {
    content: '';
    position: absolute;
    width: calc(var(--countdown-w) * 1.5);
    height: calc(var(--countdown-w) * 1.5);
    background: var(--mc);
    border-radius: 50%;
    top: calc(var(--countdown-w) / -4 * 4.9 / 4.9);
    box-shadow: 0 0 20px var(--mc), 0 0 60px var(--mc);
    @apply dark:bg-teal-400
}