.wrapper {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

.waves {
    position: relative;
    width: 100%;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
    translate: all 1s;
}

/* Animation */
.parallax>.gentle-waves {
    animation: move-forever cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>.gentle-waves:nth-child(1) {
    animation-delay: -2s;
    /* animation-duration: 7s; */
    animation-duration: 17s;
}

.parallax>.gentle-waves:nth-child(2) {
    animation-delay: -6s;
    /* animation-duration: 10s; */
    animation-duration: 20s;
}

.parallax>.gentle-waves:nth-child(3) {
    animation-delay: -10s;
    /* animation-duration: 13s; */
    animation-duration: 23s;
}

.parallax>.gentle-waves:nth-child(4) {
    animation-delay: -14s;
    /* animation-duration: 20s; */
    animation-duration: 30s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}