.modal-wrap {
    @apply absolute top-0 left-0 shadow-2xl flex flex-col items-center justify-center w-full h-full overflow-scroll
}

.mask {
    @apply fixed top-0 left-0 z-0 w-full h-full bg-gray-400 dark:bg-gray-600 opacity-60 hover:cursor-pointer
}

.modal {
    @apply z-10 bg-white px-10 pt-2 pb-4 rounded-lg flex flex-col dark:bg-slate-800 dark:text-gray-100;
}