table {
    border-collapse: collapse;
    table-layout: fixed;
    /* width: 100%; */
    @apply text-xs
}

.table-row-count {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    @apply bg-gray-100 dark:bg-gray-700
}

table caption {
    font-size: 1.12rem;
    font-weight: 700;
    text-align: left;
    margin: 8px 0px;
}

table th {
    padding: 20px 16px;
    font-size: 0.875rem;
    position:sticky;
    top:0;
    @apply text-gray-400 bg-[white] dark:text-gray-400 dark:bg-gray-800;
}

table tbody tr:nth-child(odd) {
    @apply bg-gray-100 dark:bg-gray-700
}

tfoot td {
    position:sticky;
    bottom:0;
    @apply bg-[white] dark:bg-gray-800
}

tfoot .pagination {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px;
    @apply text-gray-400
}

tfoot .pagination span:hover{
    text-decoration: underline;
    @apply bg-gray-100 dark:bg-gray-700
}
tfoot .pagination .active {
    text-decoration: underline;
}
tfoot .pagination .jumpPage {
    @apply text-gray-400
}

tfoot .pagination span {
    cursor: pointer;
    display: block;
    /* color: var(--primary); */
    /* font-size: 1.3rem; */
    text-decoration: none;
    font-weight: 700;
    padding: 12px 16px;
    border-radius: 8px;
}